#### Loops

##### For loops

In [6]:
marks_list = [40,45,66,78,89,39]
marks_list

[40, 45, 66, 78, 89, 39]

In [7]:
for marks in marks_list :
    if marks >= 80 :
        print('Passed with distinction')
    elif marks >= 60: #and marks < 80 it comes here only first condi false where marks are less than 80 :
        print("first class ")
    elif marks >= 40 : #and marks < 60, thats why we dont need this 2nd condition:
        print('Second class')
    else :
        print ('Failed')

Second class
Second class
first class
first class
Passed with distinction
Failed

#### Exercises

In [9]:
#You have a list of numbers [5, 10, 15, 20, 25].
#ðŸ‘‰ Print each number one by one.
num_lst = [5, 10, 15, 20, 25]

In [10]:
for num in num:
    print(num)

5
10
15
20
25

In [11]:
# Exercise 2
# You have a list [2, 4, 6, 8, 10].
# ðŸ‘‰ Print the square of each number.

In [13]:
for num in num_lst:
    print(num * num)

25
100
225
400
625

In [ ]:
# Exercise 3
# You have a list [3, 6, 9, 12, 15, 18].
# ðŸ‘‰ Print only the numbers that are divisible by 3.

In [19]:
num_lst = [3, 6, 9, 12, 15,18]
for num in num_lst:
    if num%3==0:
        print(num)

3
6
9
12
15
18

In [ ]:
# Exercise 4

# You have a list [1, 2, 3, 4, 5, 6].
# ðŸ‘‰ For each number, print whether it is even or odd.

In [22]:
num_lst = [1, 2, 3, 4, 5, 6]
for num in num_lst:
    if num %2 ==0:
        print(num ,'even')
    else :
        print(num , 'odd')

1 odd
2 even
3 odd
4 even
5 odd
6 even

In [ ]:
# Exercise 5

# You have a list of marks [35, 45, 55, 65, 85].
# ðŸ‘‰ For each mark, print whether the student Failed, got Second class, First class, or Distinction.

In [24]:
marks_lst = [35, 45, 55, 65, 85]
for marks in marks_list :
    if marks >= 80 :
        print('Passed with distinction')
    elif marks >= 60: #and marks < 80 it comes here only first condi false where marks are less than 80 :
        print("first class ")
    elif marks >= 40 : #and marks < 60, thats why we dont need this 2nd condition:
        print('Second class')
    else :
        print ('Failed')

Second class
Second class
first class
first class
Passed with distinction
Failed

In [ ]:
# 6. Exercise 6

# You have a list of numbers [10, 20, 30, 40, 50].
# ðŸ‘‰ Find the sum of all numbers in the list.

In [34]:
num_lst = [ 10, 20, 30, 40, 50]
total = 0

for num in num_lst:
    total += num
print(total)

150

In [36]:
# Exercise 7

# You have a list [12, 45, 7, 89, 23, 67].
# ðŸ‘‰ Find the largest number in the list.

In [49]:
num_lst = [12, 45, 7, 89, 23, 67, 97]
largest_num = 0
for num in num_lst :
    if num > largest_num :
        largest_num = num
print(largest_num)

97

In [48]:
largest_num

89

In [ ]:
# ðŸ”¹ Exercise 8

# You have a list [4, 9, 16, 25, 36].
# ðŸ‘‰ Create a new list that contains the square roots of these numbers.

In [ ]:
num_lst = [4, 9, 16, 25, 36]
sq_lst=[]
for num in num_lst:
    sq_lst.append(num**0.5)
sq_lst

[2.0, 3.0, 4.0, 5.0, 6.0]

In [ ]:
# ðŸ”¹ Exercise 9

# You have a list [2, 5, 8, 11, 14, 17].
# ðŸ‘‰ Print only the numbers that are greater than 10.

In [54]:
num_lst = [2, 5, 8, 11, 14, 17]
largest_num = 10
for num in num_lst:
    if largest_num < num :
        print(num)

11
14
17

In [ ]:
# Exercise 10

# You have a list of words ["apple", "banana", "grapes", "kiwi", "orange"].
# ðŸ‘‰ Print only the words that have more than 5 letters.

In [ ]:
words_lst = ["apple", "banana", "grapes", "kiwi", "orange"]
for word in words_lst:
    if wor.count(word)>5:
        print(word)

#### For Loops

In [20]:

for i in range(1,5):
    print('*'*i)

*
**
***
****

##### While Loop

In [3]:
cnt = 0
while cnt<3:
    print(cnt)
    cnt += 1

0
1
2

##### Break statement

In [4]:
cnt = 0
while True:
    cnt += 1
    print(cnt)

    if cnt == 5:
        break
    print ('going back')
print('outside loop')

1
going back
2
going back
3
going back
4
going back
5
outside loop

##### Jackpot

In [6]:
import numpy as np

In [14]:
while True:
    num = np.random.randint(1,6)
    x = int(input('Enter the number: '))
    if x < 6:
        
        if x == num:
            print('Yay! you won the Jackpot!')
            break
        else :
            print('Sorry! Try again.')
    else:
        print('choose number between 1-6')

Enter the number:  11

choose number between 1-6

Enter the number:  4

Yay! you won the Jackpot!

In [1]:
price_lst = [45,50,75,100,35,65,80,25]

In [18]:
total = 0
for price in price_lst:
    total += price
    if (total + price)>200:
        break
print(f'Total amt is {total}')

Total amt is 170

###### Continue statements

In [20]:
total = 0
for price in price_lst:
    if price > 50:
        print(f'Price Rs.{price} Too expensive, skipping....')
        continue
    
    print(f'Price Rs{price}. Adding to total....')
    total = total + price
    print(total)

Price Rs45. Adding to total....
45
Price Rs50. Adding to total....
95
Price Rs.75 Too expensive, skipping....
Price Rs.100 Too expensive, skipping....
Price Rs35. Adding to total....
130
Price Rs.65 Too expensive, skipping....
Price Rs.80 Too expensive, skipping....
Price Rs25. Adding to total....
155

##### Functions

In [36]:
# avoid using the print in the function
# paramerter is necessary
# def is use to define the function
# use return to close the function so that res will print

In [41]:
def grades(marks):
    if marks >= 80 :
       res = 'Passed with distinction'
    elif marks >= 60: #and marks < 80 it comes here only first condi false where marks are less than 80 :
        res = "first class "
    elif marks >= 40 : #and marks < 60, thats why we dont need this 2nd condition:
        res = 'Second class'
    else :
        res = 'Failed'
    return res

In [42]:
mygrade = grades(90)
mygrade

'Passed with distinction'

In [43]:
mygrade = grades(55)
mygrade

'Second class'

In [44]:
def avg(x,y):
    res = (x+y)/2
    return res

In [45]:
avg(45,34)

39.5

In [47]:
# write the function to calculate avg of all numbers
price_lst = [45,50,75,100,35,65,80,25]

In [56]:
def avg(x):
    res = sum(x)/len(x)
    return res

In [57]:
avg(price_lst)

59.375

##### exercise

1. write the function to calculate factorial
2. print * pattern

In [69]:
#1
def factorial(x):
    if x <= 1 :
        return 1
    else :
        return x * factorial(x-1)

In [71]:
factorial(5)

120

In [84]:
def factorial(x):
    res = 1
    for x in range (1,x+1):
        res = res * x
    return res

In [86]:
factorial(9)

362880

In [108]:
def pattern(x):
    for i in range(1, x+1):
        res = '*'* i + "\n"
    return res

In [109]:
pattern(5)

'*****\n'

##### Advance Exercise

In [ ]:
# Challenge 1: Sum of even numbers

# You have a list [3, 8, 12, 5, 7, 14].
# ðŸ‘‰ Find the sum of only the even numbers.

In [ ]:
# Challenge 2: Count vowels

# You have a string "programming".
# ðŸ‘‰ Count how many vowels (a, e, i, o, u) are in it.

In [ ]:
# Challenge 3: Reverse each word

# You have a list ["hello", "world", "python"].
# ðŸ‘‰ Print each word reversed (like "olleh", "dlrow", "nohtyp").

In [ ]:
# Challenge 4: Highest marks

# You have a dictionary of marks:

# marks = {"Aman": 55, "Raj": 88, "Simran": 72, "Neha": 95}

In [ ]:
# Challenge 5: Shopping bill

# You have a list of item prices [120, 250, 80, 300].
# ðŸ‘‰ Apply a 10% discount on each and print the final prices.